<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="nav">
      <a href="/home">home</a>
      <a href="/about">about</a>
      <a href="/works">works</a>
      <a href="/gallery">gallery</a>
    </div>

    <div class="div">
      <h1>A little bit more on Justin</h1>
      <p>
        Before entering politics, Justin served as the Chair of Katimavik, on
        the board for the Canadian Avalanche Foundation, and as an advocate for
        young people and the environment. As a speaker at events and conferences
        around the country, he encouraged young people to engage with the issues
        important to them and participate as active citizens. These experiences
        made it increasingly clear to him that the issues young Canadians care
        about – education, the environment, and their generation's economic
        prospects – needed a stronger voice. Justin entered politics to make
        change that would better serve all Canadians. In 2007, he built a
        community-based, grassroots campaign to win the Liberal Party nomination
        in the Montréal riding of Papineau. He was elected in 2008, and
        re-elected in 2011, 2015, and 2019. Justin was elected Leader of the
        Liberal Party in April 2013. His leadership campaign focused on building
        a new, truly national movement of progressive Canadians, bringing
        hundreds of thousands of Canadians into politics, most for the first
        time. He worked closely with his team to build a plan to create jobs,
        grow the economy, protect the environment, and strengthen the middle
        class. With Justin’s leadership, the Liberal plan emphasized fair
        economic opportunity for everyone, respect for and promotion of freedom
        and diversity, and a more democratic government that truly represents
        Canadians. On October 19, 2015, Justin led his party to victory, winning
        a majority government with seats in every province and territory across
        the country. He was sworn in on November 4, 2015. On October 21, 2019,
        Justin led the Liberal Party to re-election, earning a second mandate
        from Canadians.
      </p>
    </div>
  </body>
</html>
