<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="nav">
      <a href="/home">home</a>
      <a href="/about">about</a>
      <a href="/works">works</a>
      <a href="/gallery">gallery</a>
    </div>

    <p>Here are some of his photos</p>
    <img src="/public/images/joy-real-2CEcpKlqNmI-unsplash.jpg" alt="" />
    <img
      src="/public/images/Trudeau_visit_White_House_for_USMCA_(cropped).jpg"
      alt=""
    />
  </body>
</html>
