<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="nav">
      <a href="/home">home</a>
      <a href="/about">about</a>
      <a href="/works">works</a>
      <a href="/gallery">gallery</a>
    </div>

    <div class="header">
      <h1>JUSTIN TRUDEAU</h1>
    </div>

    <img
      src="https://pm.gc.ca/themes/pm_theme/images/pm_justin_trudeau_8X10_bw.jpg"
      alt="JT photo"
    />

    <div class="div">
      <h3>Prime Minister of Canada</h3>
      <p>
        Justin’s vision of Canada is a country where everyone has a real and
        fair chance to succeed. His experiences as a teacher, father, leader,
        and advocate for youth have shaped his dedication to Canadians – and his
        commitment to make Canada a place where everyone has the opportunities
        they need to thrive. The oldest of three boys, Justin grew up with the
        profound influence of his father, Pierre Elliott Trudeau, and his
        mother, Margaret Trudeau. He was raised speaking both French and English
        and has family roots in both Eastern and Western Canada. This background
        helped spark his passion for public service and shaped his conviction
        that diversity is Canada’s strength. Justin studied literature at McGill
        University, graduating with a Bachelor of Arts (B.A.) in 1994. He went
        on to complete the University of British Columbia’s education program,
        and spent several years teaching French, math, and other subjects in
        Vancouver. Teaching allowed him to make a positive impact in the lives
        of young people. He remains committed to hearing the voices of young
        Canadians, from the classroom to Parliament Hill. In 2002, Justin
        returned home to Montréal, where he met Sophie Grégoire, a Quebec TV and
        radio host. They married in 2005 and are now the proud parents of
        Xavier, Ella-Grace, and Hadrien.
      </p>
    </div>
  </body>
</html>
